documentation/01_DB設計/~$02_user_ユーザーデータ.xlsm
documentation/03_詳細設計/00_画面設計/~$本一覧.xlsx
documentation/03_詳細設計/01_API設計/~$00_本一覧取得_API設計書.xlsx
documentation/04_テスト/01_単体テスト/Frontend/01_テスト仕様書/~$利用者__チェックアウト画面＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Frontend/01_テスト仕様書/~$利用者__請求先と支払い一覧画面＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Frontend/01_テスト仕様書/~$利用者__請求先と支払い更新画面＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Frontend/01_テスト仕様書/~$利用者__配送先一覧画面＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Frontend/01_テスト仕様書/~$管理者＿本一覧画面＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Backend/~$テストケース番号作成方法.xlsx
documentation/04_テスト/01_単体テスト/Backend/01_テスト仕様書/~$利用者__ショッピングカートAPI＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Backend/01_テスト仕様書/~$利用者__チェックアウトAPI＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Backend/01_テスト仕様書/~$利用者__配送先API＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Backend/01_テスト仕様書/~$登録API＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Backend/01_テスト仕様書/~$管理者＿本API＿テスト仕様書.xlsx
documentation/04_テスト/01_単体テスト/Backend/01_テスト仕様書/~$請求先と支払い作成API=テスト仕様書.xlsx
